<div class="container contenu">
  <h3 class='title'>Welcome To Your <span style="color:#10A19D;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      ">FastQuiz</span> Application</h3>
      <p>This Quiz will contains total 9 questions.Each Question Holds 10 Points.</p>
      <h4>Rules:</h4>
      <ul>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li>
      </ul>
      <h1 style="font-family: cursive;text-align: end; margin :20px;">All The Best!! 🙂</h1>
</div>
