.contenu{
  background-color:#d8eeee ;
  width:50%;
  height:400px;
  overflow: hidden;
  margin-top:70px;
  border-radius: 40px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}//#e5faf5
.contenu p{
 text-align: center;
 font-size: 17px;
 letter-spacing: 1px;

}
.contenu h4{
  font-family:cursive;
  font-size: 30px;
  margin: 30px;

}
.contenu ul li{
  margin-left: 90px;
}

.title
{
  text-align: center;
  padding:30px 0px;

}
