.navbar
{
  background-color:#10A19D;
}
.start{
  border-radius: 30px;
  background-color:#0b7370;
  border: none;
  padding: 10px;
  margin-right: 30px;
  color:white;
box-shadow:  2px 5px 10px rgba(0, 0, 0, 0.4);
}
//rgb(115, 147, 115)
