.card{
  max-width: 600px;
  margin:0 auto;
  padding: 5px;
}
li{
  list-style-type: none;
  cursor: pointer;
  margin:8px 0px;

}
li .card:hover{
  border:1px solid #10A19D;
}
ol{
  padding:0px;
}
.card h4{
  font-family: cursive;
}
.card
span
{
  font-style:italic
}
.col{
  color: #10A19D;
}
